<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/admincat.css">
  
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/paneladmin.css">
     <link rel="stylesheet" href="css/registro.css">
    
    <title>Agendar Cita</title>
</head>
<body>
    <header>
        <div class="header-container">
            
            <div class="header-body">
                <div class="header-banner-navbar">
                    <div class="header-banner-navbar-left">
                        <img src="img/icons/logo.png">
                       
                        <a href="login.html">
                            <p>SALIR</p>
                        </a>
                    </div>
                    <div class="header-banner-navbar-right">
                        <img src="img/icons/ico_user.svg">
                        <p>ADMINISTRADOR</p>
                    </div>
                </div>
            </div>
        </div>
    </header>    
  




<div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">PANEL ADMINISTRADOR</span>
    </div>
      <ul class="nav-links">
        
     
         <li>
          <a href="reghistoria.html">
            <i class='bx bx-book-alt' ></i>
            <span class="links_name">Registrar historia clinica</span>
          </a>
        </li>

        <li>
          <a href="listpacientes.html">
            <i class='bx bx-user' ></i>
            <span class="links_name">Pacientes</span>
          </a>
        </li>

           <li>
          <a href="agendarcita.html" class="active">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Agendar Cita</span>
          </a>
        </li>


    

            <li>
          <a href="citas.html">
            <i class='bx bx-box' ></i>
            <span class="links_name">Citas</span>
          </a>
        </li>
      

  
        <li class="log_out">
          <a href="login.html">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <div class="home-content">
     
          


<!-- busqueda pacientes -->

<!-- fin busqueda pacientes -->

<!-- Listado de pacientes y form agendar cita -->
<div id="container">
  <h1>&bull; Agendar Cita&bull;</h1>
  
  <form th:action="@{/formLogin/insertar}" th:object="${cliente}" method="post" id="contact_form">
    

    <div class="fechahistoria">
      <label for="fecha">FECHA DE CITA:</label>   

    </div>

    <div class="formfechahistoria">   
       <input type="datetime-local" id="start" name="trip-start"
       value="2018-07-22"
       min="2021-01-01" max="2022-12-31" required>
      
    </div>
 <br>
<br>
<br>

    <div class="name">
      <label for="name"></label>
      <input th:field="*{nombre}" type="text" placeholder="Nombre" name="nombre" id="nombre_input" required>
    </div>

    <div class="apellidos">
      <label for="apellidos"></label>
      <input th:field="*{apellido}" type="text" placeholder="Apellidos" name="apellido" id="apellidos_input" required>
    </div>

 <br>
 <br>

   <div class="selectdoc">
      <label for="selectdoc"></label>
      <select placeholder="Subject line" name="tipodoc" id="tipodoc_input" required>
        <option disabled hidden selected>Tipo de Documento</option>
        <option>Cedula de Ciudania</option>
        <option>Tarjeta de Identidad</option>
        <option>Cedula de extranjeria</option>
      </select>
    </div>
    <div class="doc">
      <label for="doc"></label>
      <input th:field="*{documento}" type="text" placeholder="Numero documento" name="documento" id="apellidos_input" required>
    </div>

    
    <div class="telephone">
      <label for="telephone"></label>
      <input th:field="*{celular}" type="text" placeholder="Telefono" name="telefono" id="telefono_input" required>
    </div>

      <div class="selectodontologo">
      <label for="selectodontologo"></label>
      <select placeholder="Subject line" name="selectodontologo" id="odontologocita_input" required>
        <option disabled hidden selected>Odontologo</option>
        <option>Luis Mejia</option>
        <option>Camilo Odontoplus</option>
        <option>Odontologo Magic</option>
      </select>
    </div>
   
    


    <div class="submit">
      <input type="submit" value="Agendar Cita" id="form_button" />
    </div>
  </form><!-- // End form -->
</div><!-- // End #container -->


<!-- fin Listado de pacientes y form agendar cita -->

     
    </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>






 




  

</body>
</html>